 @{
    ViewData["Title"] = "Our Products";
}

<h1>OUR PRODUCTS</h1>

<h3>Welcome To The World Of Freshness & Fragrance Made Just For You</h3>
<div class="products1">
    
        <img src="~/images/yellowSoap.jpg" alt="Image of our soap" />
    
        <img src="~/images/OrangeBackground.jpg" alt="Image for the lush soap" />
    
        <img src="~/images/SoapFlavours.jpg" alt="Image for the lush soap" />
    
        <img src="~/images/liquidSoapSizes.jpg" alt="Image for the lush soap" />
    
        <img src="~/images/Model.jpg" alt="Image for the lush soap" />
    
        <img src="~/images/pink.jpg" alt="Image for the lush soap" />
    
        <p>
            Indulge in the luxurious touch of nature with Lush Soap, where every wash is a fragrant journey
            and every bubble a moment of pure bliss. Elevate your senses, embrace the softness, and let your skin experience the beauty of Lush.
        </p>
        <p>
            Embrace the essence of purity with our exquisite soap, where each lather weaves a tale of luxury and care. 
            Let your senses be captivated, and your skin be adorned in softness. Elevate your daily ritual with [Soap Name], where indulgence
            meets nature's embrace.Embrace the essence of purity with our exquisite soap, where each lather weaves a tale of luxury and care.
            Let your senses be captivated,
            and your skin be adorned in softness. Elevate your daily ritual with [Soap Name], where indulgence meets nature's embrace.
        </p>
    </div>
